<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>

    <p class="mt-4"><a href="/">Display Page</a></p>

    <h1>Write a Comment</h1>

    <form action="/comment" method="post">
      <label for="username">Your name:</label>
      <input type="text" id="username" name="username" required /><br />

      <label for="skill">Skill Title:</label>
      <input type="text" id="skill" name="skill" required /><br />

      <label for="comment">How-to Details:</label>
      <textarea id="comment" name="comment" required></textarea><br />
      <button type="submit" onclick="return validateForm()">
        Submit Comment
      </button>
    </form>

    <script>
      function validateForm() {
        // "skill"フィールドの値を取得
        var skillField = document.getElementById('skill');
        var skillValue = skillField.value.trim(); // 前後のスペースを削除

        // スキルタイトルの文字数が27を超えるかを確認
        if (skillValue.length > 27) {
          alert('スキルタイトルは27文字以下で入力してください。');
          return false; // フォームの送信をブロック
        }

        // "username"フィールドの値を取得
        var usernameField = document.getElementById('username');
        var usernameValue = usernameField.value.trim(); // 前後のスペースを削除

        // ユーザーネームの文字数が9を超えるかを確認
        if (usernameValue.length > 9) {
          alert('usernameは9文字以下で入力してください。');
          return false; // フォームの送信をブロック
        }

        // スキルタイトルとユーザーネームが妥当な場合、フォームの送信を続行
        return true;
      }
    </script>
  </body>
</html>
