/* General Body Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f2ffff;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 800px;
  margin: auto;
}

.header-img {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.header-img img {
  width: 100%;
  height: auto;
}

/* Styling for skill headers */
.skill-title {
  font-size: 24px;
  color: #0056b3; /* Dark blue color for skills */
}

/* Detail style */
.skill-details {
<<<<<<< HEAD
  font-size: 15px;
}
.skill-details > .skill-details1 {
  font-size: 18px;
}
=======
  font-size: 18px;
}

>>>>>>> 15a276463d51ad487ce0bc11beb0e841a3bd2c67
/* Comment date style */
.date {
  font-size: 14px;
}

/* Like button and counter styles */
.like-form {
  gap: 10px;
}

.like-form button {
  background-color: #4caf50; /* Green background */
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}

.like-form span {
  margin-left: 10px;
}

/* Link Styles */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Margin top class for spacing */
.mt-4,
.mt-5 {
  margin-top: 1.5rem;
}

.mb-3,
.mb-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.comments-list .comment {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
